{% extends "root.html" %} {% block title %}SHOWS MANAGE{% endblock %}

{% block content %}
<h1 align="center">Online Movie Booking </h1>
<div class ="container">
  <div class="row">
    <div class ="col md-12">
      <div class="jumbotron p-3 ">
        <h2>
          SHOW
          <b>List</b>
          <button type ="button"
                  class = "btn btn-success float-right" data-toggle="modal" data-target="#anika">
            Add New Shows
          </button>
        </h2>
        {% with messages = get_flashed_messages() %}
        {% if messages %}

        {% for message in messages %}
        <div class="alert alert-success alter-dismissable fade show" role="alert">

          <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">x</span>
          </button>
          {{message}}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <table class="table table-hover table-dark">
          <tr>
            <th>ID</th>
            <th>MOVIES NAME</th>
            <th>Show Date</th>
            <th>Show Time</th>
            <th> Seats </th>


          </tr>
          {% for row in shows %}
          <tr>
            <td>{{row.show_id}}</td>
            <td>{{row.movies_name}}</td>
            <td>{{row.show_date}}</td>
            <td>{{row.show_time}}</td>
            <td>{{row.seats}}</td>


          </tr>

          {% endfor %}
        </table>
      </div>

    </div>
  </div>
</div>
<div id="anika" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class ="modal-content">
      <div class ="modal-header">
        <h4 class="modal-title"> Add Shows</h4>

      </div>
      <div class="modal-body">
        <form action ="/shows" method ="POST">


          <div class="form-group">
            <label >Choose a movie:</label>
            <select name="movies_name" id="movies_name">
              {% for row in movies %}
              <option class="form-control" required="1" value="{{row.movies_name}}">{{row.movies_name}}</option>
              {% endfor %}
            </select>
          </div>
          <br>
          <div class="form-group">
            <label>Show Date:</label>
            <input type="text" class="form-control" name ="show_date" required="1">
          </div>


          <div class="form-group">
            <label>Show Time:</label>
            <input type="text" class="form-control" name ="show_time" required="1">
          </div>
          <div class="form-group">
            <label>Seats:</label>
            <input type="number" class="form-control" name ="seats" required="1">
          </div>
          <div class="form-group">

            <button class="btn btn-primary" type="submit">Add Shows </button>
          </div>


          <div class="modal-footer">

            <button type="button" class="btn btn-secondary" data-dismiss ="modal">Close</button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}